<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias = "user" type = "com.db.User"/>
        <typeAlias alias = "session" type = "com.db.Session"/>
        <typeAlias alias = "message" type = "com.db.Message"/>
        <typeAlias alias = "contactChat" type = "com.db.ContactChat"/>
        <typeAlias alias = "invitation" type = "com.db.Invitation"/>
        <typeAlias alias = "room" type = "com.db.Room"/>
    </typeAliases>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${chat_db_driver}"/>
                <property name="url" value="${chat_db_url}"/>
                <property name="username" value="${chat_db_username}"/>
                <property name="password" value="${chat_db_password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="com.db.UserMapper"/>
        <mapper class="com.db.SessionMapper"/>
        <mapper class="com.db.MessageMapper"/>
        <mapper class="com.db.RoomMapper"/>
        <mapper class="com.db.InvitationMapper"/>
    </mappers>
</configuration>